*{
    padding:0;
    margin:0;
}

body {
    background-color: #ffc400;
    font-family: "Hammersmith One", sans-serif;
}
/*cambio el color del headerr*/
.colorpropio{
    background-color: #ff6f00;
}
/*Alineo el titulo en el medio*/
.titulo{
    text-align: center;
}
header{
    background-color: #ff6f00;
}
.header_logo{
    margin-top: 0;
}

.header_nav{
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_titulo{
    text-align: center;
    padding:50px 0;
}



h1, h2 {
    padding: 15px;
    margin: 10px;
}

header img {
    width: 250px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    
}

header nav ul {
    list-style-type: none;
}

li {
    display:inline-block;
    margin:15px;
    
}
li a:hover{
    color:#ff6f00;
    background-color:rgb(0, 2, 73);
    border-radius: 10px;
}

a{
    color:rgb(0, 2, 73);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    margin:10px;
    
    border-radius: 10px;
    padding:10px;
     
}

/* Alineo el subtitulo para que quede centrado*/
.sub {
    text-align: center;
    padding: 10px;
}

p {
    padding: 20px;
    line-height: 1.5;
    font-size: 1.2rem;
}

/* Aca achico la imagen que esta en el main*/
.img_inicio{
    width: 500px;
    margin-left: 5px;
    
}
/*Acomodo la imagen y el texto del incio*/
.container_inicio{
    height: 600px;
    display: flex;
    flex-direction:column;
    align-items: center;
    
}


footer {
    display: flex;
    text-align: left;
    background-color: #ff6f00;
    padding-top: 150px;
    
    
}




.parrafo {
    text-align: center;
    padding: 20px;
    line-height: 1.5;
    font-size: 1.2rem;
}

.formulario {
    text-align: center;
    padding: 20px;
    line-height: 1.5;
    font-size: 1.2rem;
}

/*css para la pagina servicios */
.img_servicios{
    width: 400px;
}

.container_servicios{
   
    display: flex;
    flex-direction:column;
    gap:20;
    
   
}
.row{
    
    display: flex;
    align-items: center;
}

/*css para la pagina proyectos usando grid*/
.main_proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.collage_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    width: 80%;
    max-width: 800px;
}
.img_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;

}
.img_item img {
    width: 350px;
    height: auto;
    display: block;
}
.img_item p{
    margin: 10px 0 0;
    text-align: center;
    font-size: 20px;
}

@media(max-width: 600px){
    .collage_container{
        grid-template-columns: 1fr;
    }
    .img_item p{
        font-size: 14px;

    }
}

/*Css para la pagina nosotros*/
.container_nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
